[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
pydantic = "*"
pillow = "*"
insightface = "*"
opencv-python = "*"
reportlab = "*"
google-generativeai = "*"
replicate = "*"
onnxruntime = "*"
python-multipart = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
alembic = "*"
black = "*"
rembg = "*"

[dev-packages]

[requires]
python_version = "3.9"
