fastapi
uvicorn
python-dotenv
requests
pydantic
pillow
insightface
opencv-python
reportlab
google-generativeai
replicate
onnxruntime
python-multipart
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
alembic
black
rembg